.container {
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    /* background-color: black; */
    /* background: linear-gradient(to right, #9c27b0, #8ecdff); */
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 55%;
    top: 0%;
}

td {
    border: 4px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    /* cursor: pointer; */
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 65%;
    margin-left: -155px;
    top: 170px;
}


table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.cell {
    height: 100px;
    width: 100px;
    /* float: left; */
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    /* vertical-align: middle; */
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    /* cursor: pointer; */
}

/* #c0, #c1, #c2, #c3, #c4, #c5 {
    border-bottom: 7px solid black;
}

#c0, #c1, #c3, #c4, #c6, #c7 {
    border-right: 7px solid black;
} */

.cell:hover {
    background-color: rgba(152, 198, 224, 0.726);
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
    background-color: #34495e;
}

#message {
    position: absolute;
    top: 80%;
    left: 830px;
    font-family: 'Courier New', Courier, monospace;
    color: #444;
    font-size: 40px;
}

#opponent {
    position: relative;
    left: 65px;
    top: 30px;
    color: white;
    font-size: 25px;
}

#HvH {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	background: #27ae60;
	font-size: 22px;
	color: #FFF;
	border: none;
	border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 240px;
}

#HvH:hover {
	background: #0ed862;
}

#HvH:active {
	background: #0787B3;
}

#HvH:disabled {
	color: #444;
	background: #CECECE;
}

#HvC {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	background: #27ae60;
	font-size: 22px;
	color: #FFF;
	border: none;
	border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 70px;
}

#HvC:hover {
	background: #0ed862;
}

#HvC:active {
	background: #0787B3;
}

#HvC:disabled {
	color: #444;
	background: #CECECE;
}

#startingplayer {
    position: absolute;
    top: 180px;
    left: 65px;
    color: white;
    font-size: 25px;
}

#linkto {
    position: absolute;
    left: 180px;
    top: 530px;
    color: rgb(170, 37, 37);
    font-size: 15px;
}

#HP {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	background: #27ae60;
	font-size: 22px;
	color: #FFF;
	border: none;
	border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 250px;
    left: 70px;
}

#HP:hover {
	background: #0ed862;
}

#HP:active {
	background: #0787B3;
}

#HP:disabled {
	color: #444;
	background: #CECECE;
}

#SA {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	background: #27ae60;
	font-size: 22px;
	color: #FFF;
	border: none;
	border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 250px;
    left: 240px;
}

#SA:hover {
	background: #0ed862;
}

#SA:active {
	background: #0787B3;
}

#SA:disabled {
	color: #444;
	background: #CECECE;
}

#undo {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	background: #7f8fa6;
	font-size: 22px;
	color: #FFF;
	border: none;
	border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 470px;
    left: 240px;
}

#undo:hover {
	background: rgb(76, 89, 94);
}

#restart {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	background: #00AEEA;
	font-size: 1.5em;
	color: #FFF;
	border: none;
	border-radius: 6px;
    cursor: pointer;
    position: absolute;
    top: 470px;
    left: 70px;
}


#restart:hover {
	background: #1DC5FF;
}

#restart:active {
	background: #0787B3;
}

#restart:disabled {
	color: #444;
	background: #CECECE;
}
